<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <div class="card">
        <div class="card-block">
          <div class="progress" [ngClass]="{'loop': submitted}">
            <progress></progress>
          </div>
          <h2 class="card-title">Log In</h2>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline" (click)="auth()" [disabled]="submitted">Log In</button>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
    </div>
</div>